AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_PIPELINE_SCHEDULE=
AIRFLOW_PROJECT_ROOT=/opt/airflow/project
SPARK_MASTER=local[2]

AIRFLOW_API_PORT=8080

AIRFLOW_JWT_SECRET=replace-with-a-random-local-secret
